GetUserService.wsdl.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://com/emc/userRegistrations/getUserServices" xmlns:sch1="http://userRegistrations.emc.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com/emc/userRegistrations/getUserServices" targetNamespace="http://com/emc/userRegistrations/getUserServices">
  <wsdl:types>
    <xsd:schema xmlns="http://com/emc/userRegistrations/getUserServices" xmlns:user="http://userRegistrations.emc.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://com/emc/userRegistrations/getUserServices"><xsd:import namespace="http://userRegistrations.emc.com"/><xsd:element name="GetUserRequest"><xsd:complexType><xsd:sequence><xsd:element name="userId" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="GetUserResponse"><xsd:complexType><xsd:sequence><xsd:element name="userDetails" type="user:User"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
    <xs:schema xmlns="http://userRegistrations.emc.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://userRegistrations.emc.com"><xs:element name="User" type="User"/><xs:complexType name="User"><xs:sequence><xs:element name="UserId" type="xs:string"/><xs:element name="UserName" type="xs:string"/><xs:element name="UserGender" type="xs:string"/><xs:element name="UserStatus" type="xs:string"/><xs:element name="UserPhoneNum" type="xs:string"/><xs:element name="UserMailID" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
  </wsdl:types>
  <wsdl:message name="GetUserResponse">
    <wsdl:part element="tns:GetUserResponse" name="GetUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetUserRequest">
    <wsdl:part element="tns:GetUserRequest" name="GetUserRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GetUserService">
    <wsdl:operation name="GetUser">
      <wsdl:input message="tns:GetUserRequest" name="GetUserRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetUserResponse" name="GetUserResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetUserServiceSoap11" type="tns:GetUserService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetUserRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetUserService">
    <wsdl:port binding="tns:GetUserServiceSoap11" name="GetUserServiceSoap11">
      <soap:address location="http://localhost:2017/UserRegistrations/endpoints"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>